.frame-child,
.frame-item {
  position: relative;
  display: none;
}
.frame-child {
  height: 90px;
  width: 1440px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke-200);
  max-width: 100%;
}
.frame-item {
  height: 32.5px;
  width: 30.3px;
  border-radius: 50%;
  background-color: var(--color-white);
}
.logo-1-icon {
  height: 49px;
  width: 311px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
  z-index: 1;
}
.home-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--info);
  width: 100%;
  height: 100%;
  z-index: 1;
}
.div {
  position: absolute;
  top: 6.5px;
  left: 7px;
  letter-spacing: 0.02em;
  display: inline-block;
  width: 17px;
  height: 18.3px;
  min-width: 17px;
  z-index: 2;
}
.home-icon {
  height: 32.4px;
  width: 30px;
  position: relative;
}
.frame-inner {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frame-parent,
.tools {
  position: relative;
  z-index: 1;
}
.tools {
  text-decoration: none;
  flex: 1;
  letter-spacing: 0.02em;
  color: inherit;
}
.frame-parent {
  width: 30px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs-5) var(--padding-6xs) var(--padding-5xs-6)
    var(--padding-5xs);
  box-sizing: border-box;
}
.vector-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}
.search-child {
  position: absolute;
  top: 7px;
  left: 18.6px;
  border-radius: 50%;
  background-color: var(--color-crimson);
  width: 7.1px;
  height: 7.6px;
  z-index: 3;
}
.search {
  height: 33.5px;
  width: 31.2px;
  position: relative;
}
.notification-child {
  width: 37px;
  height: 37px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  z-index: 1;
}
.notification {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
}
.profile-icon-child,
.profile-icon-inner,
.profile-icon-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--info);
  width: 3px;
  height: 3px;
  z-index: 1;
}
.profile-icon-inner,
.profile-icon-item {
  top: 6px;
}
.profile-icon-inner {
  top: 12px;
}
.profile-icon {
  width: 3px;
  height: 15px;
  position: relative;
}
.home,
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-3xs-4);
}
.home {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 var(--padding-9xs) 0 0;
  gap: var(--gap-xl);
}
.header,
.rectangle-parent {
  display: flex;
  box-sizing: border-box;
}
.header {
  width: 224px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-9xs-6);
}
.rectangle-parent {
  align-self: stretch;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-whitesmoke-200);
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-xl) var(--padding-2xl);
  gap: var(--gap-720xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-font-awesome-5-free);
}
.banner-child,
.banner-item {
  align-self: stretch;
  position: relative;
}
.banner-child {
  height: 742px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.banner-item {
  height: 50px;
  border-radius: 0 var(--br-xl) 0 0;
  background-color: var(--color-black);
  z-index: 6;
}
.frame-child1,
.rectangle-div {
  position: relative;
  display: none;
}
.rectangle-div {
  height: 692px;
  width: 132px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-100);
}
.frame-child1 {
  height: 68px;
  width: 68px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-blue);
  box-sizing: border-box;
}
.div1 {
  width: 13px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 7;
}
.rectangle-container {
  flex: 1;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-blue);
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-7xl) var(--padding-9xs)
    var(--padding-8xl);
  z-index: 6;
}
.banner,
.rectangle-container,
.rectangle-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-group {
  align-self: stretch;
  flex: 1;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 var(--br-xl) var(--br-xl);
  background-color: var(--color-gray-100);
  flex-direction: row;
  padding: var(--padding-7xl) var(--padding-13xl);
  z-index: 5;
}
.banner {
  height: 742px;
  width: 132px;
  box-shadow: 1px 4px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: column;
  z-index: 4;
}
.technical-project-management {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: 0.02em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.component-58-child {
  height: 36px;
  width: 121px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue);
  display: none;
}
.submit-task {
  position: relative;
  font-size: var(--font-size-xs);
  font-weight: 500;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 73px;
  z-index: 1;
}
.component-58,
.title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.component-58 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xs) var(--padding-5xl);
  background-color: var(--color-blue);
  border-radius: var(--br-3xs);
  justify-content: flex-start;
  white-space: nowrap;
}
.component-58:hover {
  background-color: var(--color-blueviolet);
}
.title {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.description-child {
  width: 1066px;
  height: 135px;
  position: relative;
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-300);
  display: none;
  max-width: 100%;
}
.as-a-project,
.explore-the-world {
  margin: 0;
  position: relative;
  letter-spacing: 0.02em;
  z-index: 1;
}
.explore-the-world {
  width: 374px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.as-a-project {
  align-self: stretch;
  font-size: var(--font-size-sm);
}
.description,
.intro {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.description {
  border-radius: var(--br-8xs);
  background-color: var(--color-whitesmoke-300);
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-6xl)
    var(--padding-8xl);
  box-sizing: border-box;
  gap: var(--gap-3xs);
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.intro {
  gap: var(--gap-18xl);
}
.resource-header-child,
.top-child {
  position: relative;
  display: none;
  max-width: 100%;
}
.top-child {
  align-self: stretch;
  height: 580px;
  border-radius: var(--br-mini);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.resource-header-child {
  height: 50px;
  width: 480px;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
}
.technical-project-management1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 2;
}
.resource-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.i {
  position: absolute;
  top: 1px;
  left: 9px;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 6px;
  z-index: 3;
}
.resource-icon {
  height: 22px;
  width: 22px;
  position: relative;
  color: var(--color-black);
  font-family: var(--font-poly);
}
.resource-header {
  align-self: stretch;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-10xl) var(--padding-sm)
    var(--padding-98xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.description1,
.span,
.span1 {
  font-weight: 600;
}
.span,
.span1 {
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
}
.story-of-alignment-scope-of-ag {
  font-size: var(--font-size-sm);
}
.description-story-of-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.resource-description {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base) 0 var(--padding-2xs);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--color-black);
}
.image-13-icon {
  align-self: stretch;
  height: 291px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  z-index: 1;
}
.top {
  flex: 1;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-134xl);
  box-sizing: border-box;
  gap: var(--gap-xl-5);
  min-width: 312px;
  max-width: 100%;
}
.frame-child2,
.top-item {
  position: relative;
  display: none;
}
.top-item {
  align-self: stretch;
  height: 580px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
}
.frame-child2 {
  height: 50px;
  width: 480px;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  max-width: 100%;
}
.threadbuild {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 98px;
  z-index: 2;
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.i1 {
  position: absolute;
  top: 1px;
  left: 9px;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 6px;
  z-index: 3;
}
.ellipse-parent {
  height: 22px;
  width: 22px;
  position: relative;
  color: var(--color-black);
  font-family: var(--font-poly);
}
.frame-div {
  align-self: stretch;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-9xl) var(--padding-sm)
    var(--padding-173xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
  color: var(--color-white);
}
.frame-child3 {
  height: 86px;
  width: 480px;
  position: relative;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-100);
  display: none;
  max-width: 100%;
}
.description2,
.span2,
.span3 {
  font-weight: 600;
}
.span2,
.span3 {
  font-family: var(--font-poppins);
  font-size: var(--font-size-mini);
}
.watch-the-video-and-threadbuil {
  font-size: var(--font-size-sm);
}
.description-watch-the-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
}
.frame-child4,
.rectangle-parent1 {
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent1 {
  align-self: stretch;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-lgi) var(--padding-3xs) var(--padding-3xl);
  z-index: 2;
}
.frame-child4 {
  height: 40px;
  width: 478px;
  position: relative;
  background-color: var(--color-palegoldenrod);
  border: 0.1px solid var(--color-gray-500);
  display: none;
}
.vector-icon1 {
  width: 16px;
  height: 9.6px;
  position: relative;
  z-index: 2;
}
.thread-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) 0 0;
}
.thread-a {
  position: relative;
  font-weight: 700;
  display: inline-block;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.4);
  min-width: 90px;
  z-index: 1;
}
.group-div,
.top-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.group-div {
  flex: 1;
  background-color: var(--color-palegoldenrod);
  border: 0.1px solid var(--color-gray-500);
  padding: var(--padding-8xs) var(--padding-3xs) var(--padding-7xs);
  gap: var(--gap-52xl-6);
  z-index: 1;
}
.top-inner {
  align-self: stretch;
  padding: 0 var(--padding-12xs) var(--padding-11xl);
  font-size: var(--font-size-xl);
}
.bg-layer1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-600);
  border: 0.1px solid var(--color-darkslategray);
}
.bg-layer,
.enter-text-here {
  width: 100%;
  position: absolute;
}
.bg-layer {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-400);
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.enter-text-here {
  border: 0;
  outline: 0;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  background-color: transparent;
  top: 7px;
  left: 7px;
  color: var(--color-slategray);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 3;
}
.bg-layer2,
.thread-header {
  position: absolute;
  top: 25px;
  left: 0;
  width: 100%;
  height: 70px;
}
.bg-layer2 {
  height: 100%;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-700);
  border: 0.1px solid var(--color-darkslategray);
  box-sizing: border-box;
  z-index: 1;
}
.sub-thread-1 {
  width: 72px;
  border: 0;
  outline: 0;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 16px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.sub-thread {
  position: absolute;
  top: 0;
  left: 0;
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-26xl);
  box-sizing: border-box;
}
.thread-details {
  height: 95px;
  flex: 1;
  position: relative;
  min-width: 129px;
}
.bg-layer3 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  background-color: var(--color-gray-700);
  border: 0.1px solid var(--color-darkslategray);
  box-sizing: border-box;
  z-index: 1;
}
.sub-interpretation-1 {
  position: relative;
  display: inline-block;
  min-width: 113px;
  z-index: 2;
}
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 199px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-7xs) var(--padding-25xl-3);
  box-sizing: border-box;
  white-space: nowrap;
}
.bg-layer4,
.bg-layer5 {
  border-radius: var(--br-3xs);
}
.bg-layer5 {
  align-self: stretch;
  flex: 1;
  position: relative;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-600);
  border: 0.1px solid var(--color-darkslategray);
}
.bg-layer4 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-gray-400);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 2;
}
.enter-text-here1 {
  width: 100%;
  border: 0;
  outline: 0;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  background-color: transparent;
  position: absolute;
  top: 7px;
  left: 7.1px;
  color: var(--color-slategray);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 3;
}
.thread-summary {
  position: absolute;
  top: 24.7px;
  left: 0;
  width: 100%;
  height: 69.3px;
}
.thread-interpretation {
  height: 94px;
  flex: 1;
  position: relative;
  min-width: 129px;
}
.thread-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-8xl);
}
.thread-category-child {
  align-self: stretch;
  height: 20px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.thread-category {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-4xs) 0 0;
  box-sizing: border-box;
  min-width: 83px;
}
.frame-child5 {
  height: 32px;
  width: 91px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  display: none;
}
.select-categ {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 65px;
  z-index: 1;
}
.vector-icon2 {
  width: 10.2px;
  height: 5.9px;
  position: relative;
  z-index: 1;
}
.icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.frame-child6,
.rectangle-parent2 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
}
.rectangle-parent2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-9xs) var(--padding-4xs);
  gap: var(--gap-7xs);
  z-index: 1;
}
.frame-child6 {
  height: 32px;
  width: 91px;
  position: relative;
  display: none;
}
.select-proces {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 68px;
  z-index: 1;
}
.vector-icon3 {
  width: 10.2px;
  height: 5.9px;
  position: relative;
  z-index: 1;
}
.icon1,
.rectangle-parent3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
}
.rectangle-parent3 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-9xs) var(--padding-4xs);
  gap: var(--gap-10xs);
  z-index: 1;
}
.thread-actions,
.threads {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.thread-actions {
  width: 343px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-mid);
  font-size: var(--font-size-3xs);
  font-family: var(--font-poppins);
}
.threads {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-2xl);
}
.component-57-child {
  height: 36px;
  width: 97px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-blue);
  display: none;
}
.content1,
.sub-thread2 {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.content1 {
  margin: 0;
  height: 20.7px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  min-width: 12px;
}
.sub-thread2 {
  font-weight: 500;
  min-width: 60px;
}
.sub-thread1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs-6) 0 0;
  font-size: var(--font-size-xs);
}
.bg-layer6,
.component-57 {
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  z-index: 1;
}
.component-57 {
  width: 97px;
  background-color: var(--color-blue);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs-2) var(--padding-5xs) var(--padding-4xs-1);
  gap: var(--gap-7xs-9);
}
.bg-layer6 {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  background-color: var(--color-gray-700);
  border: 0.1px solid var(--color-darkslategray);
}
.summary-for-thread {
  width: 151.5px;
  border: 0;
  outline: 0;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  background-color: transparent;
  height: 16px;
  position: relative;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.summary-content,
.summary-header {
  position: absolute;
  left: 0;
  box-sizing: border-box;
}
.summary-header {
  top: 0;
  width: 425px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-sm) var(--padding-26xl);
  max-width: 100%;
}
.summary-content {
  border: 0.1px solid var(--color-darkslategray);
  background-color: var(--color-gray-400);
  height: 83px;
  width: 100%;
  outline: 0;
  top: 25px;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-3xs);
  padding: var(--padding-6xs) var(--padding-mini-8);
  font-family: var(--font-open-sans);
  font-size: var(--font-size-xs);
  color: var(--color-darkgray);
}
.thread-summary1 {
  align-self: stretch;
  height: 108px;
  position: relative;
  max-width: 100%;
}
.thread-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
.thread {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-17xl);
}
.resource-card,
.resource-content,
.thread,
.top1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.resource-content {
  align-self: stretch;
  flex-direction: row;
  padding: 0 var(--padding-9xl) 0 var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-xs);
}
.resource-card,
.top1 {
  flex: 1;
}
.top1 {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: 0 0 var(--padding-7xl);
  box-sizing: border-box;
  min-width: 312px;
  color: var(--color-black);
}
.resource-card {
  flex-direction: row;
  gap: var(--gap-33xl);
}
.intro-parent,
.resource {
  align-self: stretch;
  max-width: 100%;
}
.resource {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xl);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.intro-parent {
  flex-direction: column;
  gap: var(--gap-56xl);
}
.hero,
.intro-parent,
.main {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.main {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  max-width: calc(100% - 187px);
  font-size: var(--font-size-9xl);
}
.hero {
  width: 1253px;
  flex-direction: row;
  gap: 55px;
  flex-shrink: 0;
  debug_commit: 69da668;
  max-width: 100%;
}
.notice-child {
  align-self: stretch;
  width: 95px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-white);
  display: none;
}
.header-child {
  width: calc(100% + 340px);
  height: calc(100% - 344px);
  position: absolute;
  margin: 0 !important;
  top: 394px;
  right: -340px;
  bottom: -50px;
  left: 0;
  border-radius: var(--br-11xl) var(--br-11xl) 0 0;
  background-color: var(--color-black);
  transform: rotate(-90deg);
  transform-origin: 0 0;
  z-index: 1;
}
.x-01-icon {
  width: 34px;
  height: 34px;
  position: relative;
  z-index: 2;
}
.a,
.b,
.blank-line,
.c,
.d,
.e,
.i2,
.n,
.o,
.o1,
.r,
.t {
  margin: 0;
}
.n-o-t-container {
  width: 12px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  z-index: 2;
}
.title1 {
  flex-direction: row;
  padding: 0 var(--padding-2xs);
}
.header1,
.notice,
.notice-board,
.title1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.header1 {
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-3xs) var(--padding-lg);
  position: relative;
  gap: var(--gap-11xl);
}
.notice,
.notice-board {
  align-self: stretch;
}
.notice {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0-4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-11xl) 0 0 var(--br-11xl);
  background-color: var(--color-white);
  flex-direction: row;
}
.notice-board {
  width: 95px;
  flex-direction: column;
}
.process-select-child {
  height: 32px;
  width: 128.7px;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  display: none;
  z-index: 0;
}
.select-process {
  align-self: stretch;
  width: 74px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  z-index: 1;
}
.vector-icon4 {
  height: 5.9px;
  width: 10.2px;
  position: absolute;
  margin: 0 !important;
  top: 13px;
  right: 15.6px;
  z-index: 1;
}
.process-select {
  height: 32px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  flex-direction: row;
  align-items: flex-start;
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-4xs);
  box-sizing: border-box;
  position: relative;
  white-space: nowrap;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
}
.content,
.process-select,
.sidebar,
.sidebar-content {
  display: flex;
  justify-content: flex-start;
}
.sidebar-content {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  align-items: flex-end;
  gap: var(--gap-6xl);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.content,
.sidebar {
  align-items: flex-start;
}
.sidebar {
  height: 651px;
  width: 248.7px;
  flex-direction: column;
  padding: var(--padding-lg) 0 0;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: var(--font-size-base);
  color: var(--color-white);
}
.content {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-73xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-blue);
  font-family: var(--font-poppins);
}
.structure-header-child {
  align-self: stretch;
  height: 580px;
  position: relative;
  border-radius: var(--br-mini);
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.structure-method-child {
  height: 50px;
  width: 480px;
  position: relative;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
.structure-your-pointers {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  z-index: 2;
}
.i3,
.info {
  position: absolute;
}
.info {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.i3 {
  top: 1px;
  left: 9px;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 6px;
  z-index: 3;
}
.pointer-icon {
  height: 22px;
  width: 22px;
  position: relative;
  color: var(--color-black);
  font-family: var(--font-poly);
}
.structure-method {
  align-self: stretch;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-9xl) var(--padding-sm)
    var(--padding-126xl);
  box-sizing: border-box;
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.span4 {
  font-size: var(--font-size-mini);
}
.description3,
.span5 {
  font-weight: 600;
}
.span5 {
  font-family: var(--font-poppins);
}
.write-a-300-400-word-article {
  font-size: var(--font-size-sm);
}
.description-write-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.structure-description,
.structure-title {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.structure-description {
  flex-direction: row;
  padding: 0 var(--padding-xl) 0 var(--padding-8xl);
  box-sizing: border-box;
  color: var(--color-black);
}
.structure-title {
  flex-direction: column;
  gap: var(--gap-9xl);
}
.structure-content-header-child {
  width: 481px;
  height: 401px;
  position: relative;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.title-divider,
.title2 {
  position: relative;
  z-index: 2;
}
.title2 {
  width: 85px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-open-sans);
  font-size: var(--font-size-base);
  background-color: transparent;
  height: 22px;
  letter-spacing: 0.02em;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  flex-shrink: 0;
  padding: 0;
}
.title-divider {
  align-self: stretch;
  height: 43px;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: var(--br-8xs);
  background-color: var(--color-gray-300);
}
.content-title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.content2 {
  width: 85px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  z-index: 2;
}
.frame-child7 {
  height: 82px;
  width: 422px;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  background-color: var(--color-gray-300);
  display: none;
  max-width: 100%;
}
.edit {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 24px;
  z-index: 4;
}
.edit-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-2xs);
}
.arrow-curve-left-down-icon {
  width: 19px;
  height: 19px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.edit-action,
.edit-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.edit-action {
  flex-direction: column;
  gap: var(--gap-sm);
  flex-shrink: 0;
  debug_commit: 69da668;
}
.edit-container {
  flex-direction: row;
  padding: 0 var(--padding-12xl);
}
.file {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 22px;
  z-index: 4;
}
.file-action {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-8xs);
}
.arrow-curve-left-right-icon {
  width: 21px;
  height: 18px;
  position: relative;
  object-fit: contain;
  z-index: 4;
}
.file-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
  flex-shrink: 0;
  debug_commit: 69da668;
  margin-top: -51px;
}
.tools1 {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 33px;
  z-index: 4;
}
.tools-button {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.format,
.insert,
.view {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 30px;
  z-index: 4;
}
.format,
.insert {
  min-width: 36px;
}
.format {
  min-width: 46px;
}
.menu-options {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini);
}
.sub-option,
.sub-option-two {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  width: 5px;
  height: 5px;
  z-index: 4;
}
.sub-option-two {
  left: 7px;
}
.sub-options {
  height: 5px;
  width: 12px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  right: -11px;
}
.arrow-expand-02-icon {
  height: 19px;
  width: 19px;
  position: relative;
  z-index: 4;
}
.paragraph-button-child {
  height: 18px;
  width: 102px;
  position: relative;
  background-color: var(--color-whitesmoke-400);
  display: none;
}
.paragraph {
  width: 78px;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 5;
}
.paragraph-button,
.paragraph-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-button {
  align-self: stretch;
  background-color: var(--color-whitesmoke-400);
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-10xs) 0;
  z-index: 4;
}
.paragraph-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
}
.option-circle {
  width: 5px;
  height: 5px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-dimgray-100);
  z-index: 4;
}
.option-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.expand-action {
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.expand-action,
.expand-container,
.sub-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.expand-container {
  flex: 1;
  justify-content: flex-end;
  padding: 0 var(--padding-10xs) 0 0;
}
.sub-menu {
  align-self: stretch;
  justify-content: flex-start;
  position: relative;
}
.more-menu,
.tools-action {
  flex-direction: column;
  justify-content: flex-start;
}
.more-menu {
  width: 157px;
  display: flex;
  align-items: flex-end;
  gap: var(--gap-sm);
  margin-top: -18px;
}
.tools-action {
  width: 205px;
  flex-shrink: 0;
  debug_commit: 69da668;
}
.more-actions,
.tools-action,
.tools-container {
  display: flex;
  align-items: flex-start;
}
.tools-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: -51px;
}
.more-actions {
  width: 271px;
  flex-direction: column;
  justify-content: flex-start;
}
.help,
.table {
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 35px;
  z-index: 4;
}
.help {
  min-width: 28px;
}
.menu-divider,
.rectangle-parent4 {
  background-color: var(--color-gray-300);
  align-self: stretch;
}
.rectangle-parent4 {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.18);
  border-radius: var(--br-8xs) var(--br-8xs) 0 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-mini) var(--padding-mid);
  box-sizing: border-box;
  gap: var(--gap-mini);
  max-width: 100%;
  z-index: 3;
}
.menu-divider {
  border: 0;
  height: 142px;
  width: auto;
  outline: 0;
  position: relative;
  box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
.content-more {
  align-self: stretch;
  align-items: flex-start;
  font-size: var(--font-size-xs);
  color: var(--color-dimgray-100);
  font-family: var(--font-poppins);
}
.content-more,
.content-parent,
.structure-content-header,
.structure-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.content-parent {
  align-self: stretch;
  align-items: flex-start;
  gap: var(--gap-base);
}
.structure-content-header,
.structure-header {
  background-color: var(--color-gray-100);
  box-sizing: border-box;
}
.structure-content-header {
  align-self: stretch;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  border: 1px solid var(--color-lightgray-200);
  align-items: flex-start;
  padding: var(--padding-7xl) var(--padding-6xl) 0 var(--padding-11xl);
  gap: var(--gap-9xl);
  z-index: 1;
  color: var(--color-black);
}
.structure-header {
  flex: 1;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  align-items: flex-end;
  padding: var(--padding-12xs) 0 0;
  gap: 35px;
  min-width: 312px;
}
.frame-child8,
.structure-header-item {
  position: relative;
  display: none;
  max-width: 100%;
}
.structure-header-item {
  align-self: stretch;
  height: 580px;
  border-radius: var(--br-mini);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.frame-child8 {
  height: 50px;
  width: 480px;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
}
.sa-method {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 97px;
  z-index: 2;
}
.i4,
.info-icon {
  position: absolute;
}
.info-icon {
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-white);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.i4 {
  top: 1px;
  left: 9px;
  letter-spacing: 0.02em;
  display: inline-block;
  min-width: 6px;
  z-index: 3;
}
.info-icon-parent {
  align-self: stretch;
  height: 22px;
  position: relative;
}
.frame-wrapper,
.rectangle-parent5 {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.frame-wrapper {
  width: 22px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  color: var(--color-black);
  font-family: var(--font-poly);
}
.rectangle-parent5 {
  align-self: stretch;
  border-radius: var(--br-mini) var(--br-mini) 0 0;
  background-color: var(--color-black);
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-sm) var(--padding-8xl) var(--padding-smi)
    var(--padding-173xl);
  max-width: 100%;
  gap: var(--gap-xl);
  z-index: 1;
}
.span6 {
  font-size: var(--font-size-mini);
}
.description4,
.span7 {
  font-weight: 600;
}
.span7 {
  font-family: var(--font-poppins);
}
.to-explore-more-read-more {
  font-size: var(--font-size-sm);
}
.description-to-container {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.description-to-explore-more-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xl) 0 var(--padding-4xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-child9,
.intro-child {
  position: relative;
  display: none;
  max-width: 100%;
}
.frame-child9 {
  width: 481px;
  height: 429px;
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
}
.intro-child {
  height: 43px;
  width: 434px;
  background-color: var(--color-whitesmoke-100);
}
.vector-icon5 {
  width: 16px;
  height: 9.6px;
  position: relative;
  z-index: 3;
}
.intro-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.introduction {
  width: 193px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.intro1 {
  align-self: stretch;
  background-color: var(--color-whitesmoke-100);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-sm) var(--padding-xs);
  box-sizing: border-box;
  gap: var(--gap-sm);
  max-width: 100%;
  z-index: 2;
}
.the-4sa-method {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.intro-group,
.method {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.method {
  width: 416px;
  flex-direction: row;
  padding: 0 var(--padding-2xs);
  font-size: var(--font-size-sm);
}
.intro-group {
  align-self: stretch;
  flex-direction: column;
  padding: 0 0 var(--padding-8xs);
  gap: var(--gap-base);
}
.see-more {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.thread-more {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs) var(--padding-9xs);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.thread-title-child {
  height: 45px;
  width: 436px;
  position: relative;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.thread-icon1 {
  width: 16px;
  height: 9.6px;
  position: relative;
  z-index: 3;
}
.thread-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
}
.thread-a1 {
  width: 193px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.thread-title {
  align-self: stretch;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-6xs) var(--padding-sm) var(--padding-3xs);
  gap: var(--gap-sm);
  max-width: 100%;
  z-index: 2;
}
.how-are-you {
  margin: 0;
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.thread-question {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mini);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.thread-content1,
.thread-header1,
.thread-question {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.thread-header1 {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
}
.thread-content1 {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 var(--padding-9xs) var(--padding-12xs);
  box-sizing: border-box;
}
.see-more1 {
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.thread-more1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-6xs);
  font-size: var(--font-size-sm);
  color: var(--color-dimgray-200);
}
.example-title-child {
  height: 45px;
  width: 396px;
  position: relative;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.example-1 {
  width: 193px;
  position: relative;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  flex-shrink: 0;
  z-index: 3;
}
.example-title {
  align-self: stretch;
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-lightgray-100);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) var(--padding-5xl) var(--padding-2xs);
  white-space: nowrap;
  max-width: 100%;
  z-index: 2;
}
.you-have-a {
  flex: 1;
  position: relative;
  letter-spacing: 0.02em;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.example-content,
.example-description {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.example-description {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-sm);
}
.example-content {
  width: 398px;
  flex-direction: column;
  gap: var(--gap-xs);
}
.frame-group,
.rectangle-parent6,
.thread-example {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.thread-example {
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 var(--padding-12xs);
  box-sizing: border-box;
}
.frame-group,
.rectangle-parent6 {
  flex-direction: column;
  justify-content: flex-start;
}
.rectangle-parent6 {
  border-radius: 0 0 var(--br-mini) var(--br-mini);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-lightgray-200);
  box-sizing: border-box;
  padding: 0 var(--padding-base) var(--padding-10xs) var(--padding-3xl);
  gap: var(--gap-7xl);
  z-index: 1;
}
.frame-group {
  gap: var(--gap-12xl);
  color: var(--color-black);
}
.structure-header1 {
  flex: 1;
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: var(--color-gray-100);
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  gap: var(--gap-28xl);
  min-width: 312px;
}
.structure-content,
.structure-header1,
.structure-layout {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.structure-layout {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-33xl);
}
.structure-content {
  flex: 1;
  flex-direction: column;
  padding: 0 0 var(--padding-154xl);
  box-sizing: border-box;
  min-height: 753px;
}
.pointer-shapes {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
}
.question-mark-2-1 {
  position: absolute;
  top: 22px;
  left: 24px;
  width: 37px;
  height: 40px;
  object-fit: contain;
  z-index: 1;
}
.pointer-set {
  height: 85px;
  flex: 1;
  position: relative;
}
.pointer-set-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
}
.meeting-1-icon {
  position: absolute;
  top: 19px;
  left: 20px;
  width: 46px;
  height: 46px;
  object-fit: contain;
  z-index: 1;
}
.ellipse-group {
  height: 85px;
  flex: 1;
  position: relative;
}
.pointer-icons-inner {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.frame-child11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-blue);
  width: 100%;
  height: 100%;
}
.schedule-1-1 {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  object-fit: contain;
  z-index: 1;
}
.ellipse-container {
  height: 85px;
  flex: 1;
  position: relative;
}
.pointer-icons,
.pointer-icons-child {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pointer-icons-child {
  align-self: stretch;
  flex-direction: row;
}
.pointer-icons {
  width: 85px;
  flex-direction: column;
  gap: var(--gap-2xl);
}
.pointer-structure,
.structure-container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.structure-container {
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-59xl);
}
.pointer-structure {
  width: 1279px;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-33xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-white);
  font-family: var(--font-open-sans);
}
.body,
.collapsed-journey-board {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.body {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-38xl);
  max-width: 100%;
}
.collapsed-journey-board {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  align-items: flex-start;
  padding: 0 0 var(--padding-lg);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1350px) {
  .rectangle-parent {
    gap: var(--gap-350xl);
  }
  .content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .structure-container {
    gap: var(--gap-20xl);
  }
  .pointer-structure {
    padding-left: var(--padding-7xl);
    padding-right: var(--padding-7xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1125px) {
  .resource-card {
    flex-wrap: wrap;
  }
  .intro-parent {
    gap: var(--gap-18xl);
  }
  .structure-layout {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .rectangle-parent {
    gap: var(--gap-166xl);
  }
  .div1 {
    font-size: var(--font-size-10xl);
  }
  .banner {
    display: none;
  }
  .title {
    flex-wrap: wrap;
  }
  .intro {
    gap: var(--gap-lg);
  }
  .resource-header {
    padding-left: var(--padding-39xl);
  }
  .frame-div,
  .resource-header,
  .top {
    box-sizing: border-box;
  }
  .top {
    padding-bottom: var(--padding-80xl);
  }
  .frame-div {
    padding-left: var(--padding-77xl);
  }
  .resource-card {
    gap: var(--gap-7xl);
  }
  .intro-parent {
    gap: var(--gap-lgi);
  }
  .main {
    max-width: 100%;
  }
  .hero {
    gap: var(--gap-8xl);
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .content {
    gap: var(--gap-27xl);
  }
  .structure-method {
    padding-left: var(--padding-53xl);
    box-sizing: border-box;
  }
  .rectangle-parent4 {
    flex-wrap: wrap;
  }
  .structure-header {
    gap: var(--gap-mid);
  }
  .rectangle-parent5 {
    padding-left: var(--padding-77xl);
    box-sizing: border-box;
  }
  .frame-group {
    gap: var(--gap-mini);
  }
  .structure-header1 {
    gap: var(--gap-4xl);
  }
  .structure-layout {
    gap: var(--gap-7xl);
  }
  .structure-content {
    padding-bottom: var(--padding-93xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .structure-container {
    gap: var(--gap-lgi);
  }
  .body {
    gap: var(--gap-9xl);
  }
}
@media screen and (max-width: 450px) {
  .rectangle-parent {
    gap: var(--gap-73xl);
  }
  .div1,
  .technical-project-management {
    font-size: var(--font-size-3xl);
  }
  .explore-the-world,
  .thread-a {
    font-size: var(--font-size-base);
  }
  .thread-actions,
  .thread-item {
    flex-wrap: wrap;
  }
  .content1 {
    font-size: var(--font-size-base);
  }
  .thread {
    gap: var(--gap-lg);
  }
  .content {
    gap: var(--gap-4xl);
  }
}
